body{
    padding: 0;
    margin: 0;
    background: #e7e7e7;
}

.rectangle{
    margin: 5em auto;
    background-color: #fff;
    height: 26.5em;
    width: 48.5em;
    border-radius: 4px;
    -webkit-box-shadow: 10px 10px 5px 1px rgb(152,159,221);
    -moz-box-shadow: 10px 10px 5px 1px rgba(152,159,221);
    box-shadow: 10px 10px 5px 1px rgba(152,159,221);
}

.rect-form{
    padding: 15px;
    text-align: center;
}

#input-control{
    width: 25em;
    margin: 1.5em auto;
}

#result {
    text-align: center;
}

#hr-divider {
    margin: 2rem 0 2rem 0;
}

/*--------------footer---------------------*/
#main-footer {
    margin-top: 13.5em;
    text-align: center;
}
