<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cedi2Cedi Convertor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre.min.css">
    <link rel="stylesheet" href={{ static_url("style.css") }}/>
</head>
<body>

<div class="container">
  <div class="columns">
      <div class="column col-12"> 
        <div class="rectangle">lorem</div> 
      </div>
  </div>

  </div>
  <script src="{{ static_url("script.js")  }}"></script>
</body>
</html>

