<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cedi2Cedi Convertor</title>
    <link rel="stylesheet" href={{ static_url("spectre.min.css") }}/>
    <link rel="stylesheet" href={{ static_url("style.css") }}/>
</head>
<body>

<div class="container">
  <div class="columns">
      <div class="column col-12"> 
          <div class="column rectangle">
              <div>
                  <h5>Convert Between <em>Old Ghana Cedis and New Ghana Cedis</em></h5>
                <form class="rect-form">
                    <div class="form-group">
                        <label class="form-label" for="input-example-1">
                            <h5>Enter Amount to Convert!</h5>
                        </label>
                        <input class="form-input" id="input-control" type="text"/>
                    </div>
                    <div class="form-group">
                      <label class="form-switch">
                          <input type="checkbox" />
                          <i class="form-icon"></i>
                          Convert to Old Ghana Cedis!
                      </label>
                  </div>
              </form>
          </div>
          <div class="divider hr-divider"></div>
          <h4 id="result"></h4>
          </div>
      </div>
  </div>
</div>
<footer class="column main-footer">
    <section>
      <p>
          Credits | <a href="http://tornadoweb.org/" target="_blank">Tornado-Python</a> | <a href="https://picturepan2.github.io/spectre/" target="_blank">Spectre.css</a> | <a href="http://github.com/saviour123/cedi2cedi.git">Check the Repo</a> 
      </p>
      <p>Built with ♥ by <a href="https://twitter.com/saviour123" target="_blank">Saviour Gidi</a>. Licensed under the <a href="https://github.com/saviour123/cedi2cedi/blob/master/LICENSE" target="_blank">MIT License</a>.</p>
    </section>
  </footer>
<script src="{{ static_url("script.js")  }}"></script>
</body>
</html>
