<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cedi2Cedi Convertor</title>
    <link rel="stylesheet" href={{ static_url("spectre.min.css") }}/>
    <link rel="stylesheet" href={{ static_url("style.css") }}/>
</head>
<body>

<div class="container">
  <div class="columns">
      <div class="column col-12"> 
          <div class="column rectangle">
              <div>
                <form class="rect-form">
                    <div class="form-group">
                        <label class="form-label" for="input-example-1">
                            <h5>Enter Amount to Convert!</h5>
                        </label>
                        <input class="form-input" type="text" id="input-control" />
                    </div>
                    <div class="form-group">
                      <label class="form-switch">
                          <input type="checkbox" />
                          <i class="form-icon"></i>
                          Convert to new cedis!
                      </label>
                  </div>
              </form>
          </div>
          <div class="divider hr-divider"></div>
          <h4 id='result'></h4>
          </div>
      </div>
  </div>
</div>
<script src="{{ static_url("script.js")  }}"></script>
</body>
</html>
